*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

.contenitor{
    width: 900px;
    height: 500px;
    margin: auto;
    
}

header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    float: left;
}

.menu{
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}

.menu ul{
    list-style: none;
    display: inline-block;
}

.menu ul li{
    display: inline-block;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: .7em;
    font-size: .8em;
    font-weight: 600;
}

#sign-in{
    /* width: 75px;
    height: 15px; */
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    text-align: center;
    background-color: white;
    color: #23272a;
    border-radius: 15px;
    float: right;
    display: inline-block;
    
}

.menu-text{
    color: white;
    text-align: center;
    padding: 6rem 9rem 0 9rem;
}

.menu-text h1{
    font-size: 50px;
}

.menu-text p{
    margin-top: 2rem;
}

.buttons{
    padding-top: 2rem;
}

.buttons a{
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    font-weight: 600;
}

.buttons a:first-child{
    background-color: white;
    color: #23272a;
    margin-right: .5rem;
}

.buttons a:last-child{
    background-color: #23272a;
    color: white;
    margin-left: .5rem;
}

.first{
    margin-top: 5rem;
}

.first img{
    width: 55%;
    float: left;
}

.text{
    width: 80%;
    margin: 3rem;
    margin-right: 0rem;
}

.contenitor{
    color: #23272a;
    
}
/* .right h2, p{
    float: right;
} */

.contenitor h2{
    font-size: 35px;
    margin-left: 2rem;
}

.contenitor p{
    padding-top: 2rem;
}