*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

.jumbo, .contenitor{
    width: 900px;
    height: 500px;
    margin: auto;
    
}

header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    float: left;
}

.menu{
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}

.menu ul, #column ul{
    list-style: none;
    display: inline-block;
}

.menu ul li, #column ul li{
    display: inline-block;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: .7em;
    font-size: .8em;
    font-weight: 600;
}

#sign-in{
    /* width: 75px;
    height: 15px; */
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    text-align: center;
    background-color: white;
    color: #23272a;
    border-radius: 15px;
    float: right;
    display: inline-block;
    
}

.menu-text{
    color: white;
    text-align: center;
    padding: 6rem 9rem 0 9rem;
}

.menu-text h1{
    font-size: 50px;
}

.menu-text p{
    margin-top: 2rem;
}

.buttons{
    padding-top: 2rem;
}

.buttons a{
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    font-weight: 600;
}

.buttons a:first-child{
    background-color: white;
    color: #23272a;
    margin-right: .5rem;
}

.buttons a:last-child{
    background-color: #23272a;
    color: white;
    margin-left: .5rem;
}


.fourth .contenitor{
    height: 800px;
}
.first, .second, .third, .fourth{
    padding-top: 5rem;
}

.first img, .third img{
    width: 55%;
    float: left;
}

.first .text{
    width: 80%;
    margin: 3rem;
    margin-right: 0rem;
}

.second .text{
    width: 30%;
}

.third .text{
    width: 85%;
}

.fourth .text{
    text-align: center;
}
.contenitor{
    color: #23272a;
    
}
/* .right h2, p{
    float: right;
} */

.contenitor h2{
    font-size: 35px;
}

.contenitor p{
    padding-top: 2rem;
}

.second, .fourth{
    width: 100%;
    background-color: #f6f6f6;
}

.second img{
    width: 55%;
    float: right;
}

#stars{
    position: relative;
}

.fourth h3{
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5rem;
}



#special-button{
    margin-top: 3rem;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    font-weight: 600;

    background-color: #8ea1e1;
    display: inline-block;
    margin-right: .5rem;
}

footer{
    background-color: #23272a;
}

footer h4, h5{
    color: #6f86d5;
}

#column{
    width: calc((100% - 1.3rem) /6);
    float: left;
    display: inline-block;
}

.lingua{
    margin-top: 1.5rem;
}
footer .lingua img{
    height: 1rem;
}

footer span, .social a, #column ul li{
    color: white;
}

.social a{
    margin: 1rem .9rem 1rem 0;
    display: inline-block;
}
footer h4{
    padding-top: 3rem;
    font-size: 1.5em;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: .8em;
}